{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <section class="section">
        <div class="container">
                <div class="columns is-centered">
                    <div class="box">             
                        <div class="column is-full">
                        {{ form|crispy }}
                        <button class="button is-success"type="submit"> POST </button>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</form>
{% endblock content %}