{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST">
<section class="section">
    <div class="container">
            <div class="columns is-centered">
                <div class="box">
                <div class="column is-full">
                    {% csrf_token %}
                   <h2>Password reset</h2>
                   {{ form|crispy }}
                   <button type="submit" class="is-rounded is-danger">RESET</button>
                </div>
                </div>
        </div>
    </div>
</section>
</form>
{% endblock content %}
