{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    
<form method="POST">
{% csrf_token %}
    <section class="section">
        <div class="container">
                <div class="columns is-centered">
                        <figure class="image is-128x128">
                                <img class="img is-rounded" src="{{ user.profile.image.url }}">
                        </figure>
                    <div class="box">
                        
                        <div class="column is-full">
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                        <button class="button is-success"type="submit"> update profile </button>
                    </div>
                    </div>
            </div>
        </div>
    </section>
</form>
{% endblock content %}